@import url("https://fonts.googleapis.com/css?family=Arizonia|Oswald:300,400,500,600,700|Playfair+Display:400,700|Poppins:300,400,500,600,700,800");
.clearfix:after {
  content: '';
  display: block;
  clear: both; }

/* ---------------------------------------------------------
	 1. Embedded fonts styles
	 ---------------------------------------------------------*/
/*!
 * Font Awesome Free 5.0.8 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("./fonts//fa-regular-400.eot");
  src: url("./fonts//fa-regular-400.eot?#iefix") format("embedded-opentype"), url("./fonts//fa-regular-400.woff2") format("woff2"), url("./fonts//fa-regular-400.woff") format("woff"), url("./fonts//fa-regular-400.ttf") format("truetype"), url("./fonts//fa-regular-400.svg#fontawesome") format("svg"); }

.far {
  font-family: 'Font Awesome 5 Free';
  font-weight: 400; }

/*!
 * Font Awesome Free 5.0.8 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("./fonts//fa-solid-900.eot");
  src: url("./fonts//fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./fonts//fa-solid-900.woff2") format("woff2"), url("./fonts//fa-solid-900.woff") format("woff"), url("./fonts//fa-solid-900.ttf") format("truetype"), url("./fonts//fa-solid-900.svg#fontawesome") format("svg"); }

.fa,
.fas {
  font-family: 'Font Awesome 5 Free';
  font-weight: 900; }

/*!
 * Font Awesome Free 5.0.8 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: normal;
  src: url("./fonts//fa-brands-400.eot");
  src: url("./fonts//fa-brands-400.eot?#iefix") format("embedded-opentype"), url("./fonts//fa-brands-400.woff2") format("woff2"), url("./fonts//fa-brands-400.woff") format("woff"), url("./fonts//fa-brands-400.ttf") format("truetype"), url("./fonts//fa-brands-400.svg#fontawesome") format("svg"); }

.fab {
  font-family: 'Font Awesome 5 Brands'; }

/*!
 * Font Awesome Free 5.0.8 by @fontawesome - https://fontawesome.com
 * License - https://fontawesome.com/license (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License)
 */
.fa,
.fas,
.far,
.fal,
.fab {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 2.4; }

.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -.0667em; }

.fa-xs {
  font-size: .75em; }

.fa-sm {
  font-size: .875em; }

.fa-1x {
  font-size: 1em; }

.fa-2x {
  font-size: 2em; }

.fa-3x {
  font-size: 3em; }

.fa-4x {
  font-size: 4em; }

.fa-5x {
  font-size: 5em; }

.fa-6x {
  font-size: 6em; }

.fa-7x {
  font-size: 7em; }

.fa-8x {
  font-size: 8em; }

.fa-9x {
  font-size: 9em; }

.fa-10x {
  font-size: 10em; }

.fa-fw {
  text-align: center;
  width: 1.25em; }

.fa-ul {
  list-style-type: none;
  margin-left: 2.5em;
  padding-left: 0; }
  .fa-ul > li {
    position: relative; }

.fa-li {
  left: -2em;
  position: absolute;
  text-align: center;
  width: 2em;
  line-height: inherit; }

.fa-border {
  border: solid 0.08em #eee;
  border-radius: .1em;
  padding: .2em .25em .15em; }

.fa-pull-left {
  float: left; }

.fa-pull-right {
  float: right; }

.fa.fa-pull-left,
.fas.fa-pull-left,
.far.fa-pull-left,
.fal.fa-pull-left,
.fab.fa-pull-left {
  margin-right: .3em; }

.fa.fa-pull-right,
.fas.fa-pull-right,
.far.fa-pull-right,
.fal.fa-pull-right,
.fab.fa-pull-right {
  margin-left: .3em; }

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear; }

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1); }

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1); }

.fa-flip-horizontal.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1); }

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  -webkit-filter: none;
  filter: none; }

.fa-stack {
  display: inline-block;
  height: 2em;
  line-height: 2em;
  position: relative;
  vertical-align: middle;
  width: 2em; }

.fa-stack-1x,
.fa-stack-2x {
  left: 0;
  position: absolute;
  text-align: center;
  width: 100%; }

.fa-stack-1x {
  line-height: inherit; }

.fa-stack-2x {
  font-size: 2em; }

.fa-inverse {
  color: #fff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
readers do not read off random characters that represent icons */
.fa-500px:before {
  content: "\f26e"; }

.fa-accessible-icon:before {
  content: "\f368"; }

.fa-accusoft:before {
  content: "\f369"; }

.fa-address-book:before {
  content: "\f2b9"; }

.fa-address-card:before {
  content: "\f2bb"; }

.fa-adjust:before {
  content: "\f042"; }

.fa-adn:before {
  content: "\f170"; }

.fa-adversal:before {
  content: "\f36a"; }

.fa-affiliatetheme:before {
  content: "\f36b"; }

.fa-algolia:before {
  content: "\f36c"; }

.fa-align-center:before {
  content: "\f037"; }

.fa-align-justify:before {
  content: "\f039"; }

.fa-align-left:before {
  content: "\f036"; }

.fa-align-right:before {
  content: "\f038"; }

.fa-amazon:before {
  content: "\f270"; }

.fa-amazon-pay:before {
  content: "\f42c"; }

.fa-ambulance:before {
  content: "\f0f9"; }

.fa-american-sign-language-interpreting:before {
  content: "\f2a3"; }

.fa-amilia:before {
  content: "\f36d"; }

.fa-anchor:before {
  content: "\f13d"; }

.fa-android:before {
  content: "\f17b"; }

.fa-angellist:before {
  content: "\f209"; }

.fa-angle-double-down:before {
  content: "\f103"; }

.fa-angle-double-left:before {
  content: "\f100"; }

.fa-angle-double-right:before {
  content: "\f101"; }

.fa-angle-double-up:before {
  content: "\f102"; }

.fa-angle-down:before {
  content: "\f107"; }

.fa-angle-left:before {
  content: "\f104"; }

.fa-angle-right:before {
  content: "\f105"; }

.fa-angle-up:before {
  content: "\f106"; }

.fa-angrycreative:before {
  content: "\f36e"; }

.fa-angular:before {
  content: "\f420"; }

.fa-app-store:before {
  content: "\f36f"; }

.fa-app-store-ios:before {
  content: "\f370"; }

.fa-apper:before {
  content: "\f371"; }

.fa-apple:before {
  content: "\f179"; }

.fa-apple-pay:before {
  content: "\f415"; }

.fa-archive:before {
  content: "\f187"; }

.fa-arrow-alt-circle-down:before {
  content: "\f358"; }

.fa-arrow-alt-circle-left:before {
  content: "\f359"; }

.fa-arrow-alt-circle-right:before {
  content: "\f35a"; }

.fa-arrow-alt-circle-up:before {
  content: "\f35b"; }

.fa-arrow-circle-down:before {
  content: "\f0ab"; }

.fa-arrow-circle-left:before {
  content: "\f0a8"; }

.fa-arrow-circle-right:before {
  content: "\f0a9"; }

.fa-arrow-circle-up:before {
  content: "\f0aa"; }

.fa-arrow-down:before {
  content: "\f063"; }

.fa-arrow-left:before {
  content: "\f060"; }

.fa-arrow-right:before {
  content: "\f061"; }

.fa-arrow-up:before {
  content: "\f062"; }

.fa-arrows-alt:before {
  content: "\f0b2"; }

.fa-arrows-alt-h:before {
  content: "\f337"; }

.fa-arrows-alt-v:before {
  content: "\f338"; }

.fa-assistive-listening-systems:before {
  content: "\f2a2"; }

.fa-asterisk:before {
  content: "\f069"; }

.fa-asymmetrik:before {
  content: "\f372"; }

.fa-at:before {
  content: "\f1fa"; }

.fa-audible:before {
  content: "\f373"; }

.fa-audio-description:before {
  content: "\f29e"; }

.fa-autoprefixer:before {
  content: "\f41c"; }

.fa-avianex:before {
  content: "\f374"; }

.fa-aviato:before {
  content: "\f421"; }

.fa-aws:before {
  content: "\f375"; }

.fa-backward:before {
  content: "\f04a"; }

.fa-balance-scale:before {
  content: "\f24e"; }

.fa-ban:before {
  content: "\f05e"; }

.fa-band-aid:before {
  content: "\f462"; }

.fa-bandcamp:before {
  content: "\f2d5"; }

.fa-barcode:before {
  content: "\f02a"; }

.fa-bars:before {
  content: "\f0c9"; }

.fa-baseball-ball:before {
  content: "\f433"; }

.fa-basketball-ball:before {
  content: "\f434"; }

.fa-bath:before {
  content: "\f2cd"; }

.fa-battery-empty:before {
  content: "\f244"; }

.fa-battery-full:before {
  content: "\f240"; }

.fa-battery-half:before {
  content: "\f242"; }

.fa-battery-quarter:before {
  content: "\f243"; }

.fa-battery-three-quarters:before {
  content: "\f241"; }

.fa-bed:before {
  content: "\f236"; }

.fa-beer:before {
  content: "\f0fc"; }

.fa-behance:before {
  content: "\f1b4"; }

.fa-behance-square:before {
  content: "\f1b5"; }

.fa-bell:before {
  content: "\f0f3"; }

.fa-bell-slash:before {
  content: "\f1f6"; }

.fa-bicycle:before {
  content: "\f206"; }

.fa-bimobject:before {
  content: "\f378"; }

.fa-binoculars:before {
  content: "\f1e5"; }

.fa-birthday-cake:before {
  content: "\f1fd"; }

.fa-bitbucket:before {
  content: "\f171"; }

.fa-bitcoin:before {
  content: "\f379"; }

.fa-bity:before {
  content: "\f37a"; }

.fa-black-tie:before {
  content: "\f27e"; }

.fa-blackberry:before {
  content: "\f37b"; }

.fa-blind:before {
  content: "\f29d"; }

.fa-blogger:before {
  content: "\f37c"; }

.fa-blogger-b:before {
  content: "\f37d"; }

.fa-bluetooth:before {
  content: "\f293"; }

.fa-bluetooth-b:before {
  content: "\f294"; }

.fa-bold:before {
  content: "\f032"; }

.fa-bolt:before {
  content: "\f0e7"; }

.fa-bomb:before {
  content: "\f1e2"; }

.fa-book:before {
  content: "\f02d"; }

.fa-bookmark:before {
  content: "\f02e"; }

.fa-bowling-ball:before {
  content: "\f436"; }

.fa-box:before {
  content: "\f466"; }

.fa-boxes:before {
  content: "\f468"; }

.fa-braille:before {
  content: "\f2a1"; }

.fa-briefcase:before {
  content: "\f0b1"; }

.fa-btc:before {
  content: "\f15a"; }

.fa-bug:before {
  content: "\f188"; }

.fa-building:before {
  content: "\f1ad"; }

.fa-bullhorn:before {
  content: "\f0a1"; }

.fa-bullseye:before {
  content: "\f140"; }

.fa-buromobelexperte:before {
  content: "\f37f"; }

.fa-bus:before {
  content: "\f207"; }

.fa-buysellads:before {
  content: "\f20d"; }

.fa-calculator:before {
  content: "\f1ec"; }

.fa-calendar:before {
  content: "\f133"; }

.fa-calendar-alt:before {
  content: "\f073"; }

.fa-calendar-check:before {
  content: "\f274"; }

.fa-calendar-minus:before {
  content: "\f272"; }

.fa-calendar-plus:before {
  content: "\f271"; }

.fa-calendar-times:before {
  content: "\f273"; }

.fa-camera:before {
  content: "\f030"; }

.fa-camera-retro:before {
  content: "\f083"; }

.fa-car:before {
  content: "\f1b9"; }

.fa-caret-down:before {
  content: "\f0d7"; }

.fa-caret-left:before {
  content: "\f0d9"; }

.fa-caret-right:before {
  content: "\f0da"; }

.fa-caret-square-down:before {
  content: "\f150"; }

.fa-caret-square-left:before {
  content: "\f191"; }

.fa-caret-square-right:before {
  content: "\f152"; }

.fa-caret-square-up:before {
  content: "\f151"; }

.fa-caret-up:before {
  content: "\f0d8"; }

.fa-cart-arrow-down:before {
  content: "\f218"; }

.fa-cart-plus:before {
  content: "\f217"; }

.fa-cc-amazon-pay:before {
  content: "\f42d"; }

.fa-cc-amex:before {
  content: "\f1f3"; }

.fa-cc-apple-pay:before {
  content: "\f416"; }

.fa-cc-diners-club:before {
  content: "\f24c"; }

.fa-cc-discover:before {
  content: "\f1f2"; }

.fa-cc-jcb:before {
  content: "\f24b"; }

.fa-cc-mastercard:before {
  content: "\f1f1"; }

.fa-cc-paypal:before {
  content: "\f1f4"; }

.fa-cc-stripe:before {
  content: "\f1f5"; }

.fa-cc-visa:before {
  content: "\f1f0"; }

.fa-centercode:before {
  content: "\f380"; }

.fa-certificate:before {
  content: "\f0a3"; }

.fa-chart-area:before {
  content: "\f1fe"; }

.fa-chart-bar:before {
  content: "\f080"; }

.fa-chart-line:before {
  content: "\f201"; }

.fa-chart-pie:before {
  content: "\f200"; }

.fa-check:before {
  content: "\f00c"; }

.fa-check-circle:before {
  content: "\f058"; }

.fa-check-square:before {
  content: "\f14a"; }

.fa-chess:before {
  content: "\f439"; }

.fa-chess-bishop:before {
  content: "\f43a"; }

.fa-chess-board:before {
  content: "\f43c"; }

.fa-chess-king:before {
  content: "\f43f"; }

.fa-chess-knight:before {
  content: "\f441"; }

.fa-chess-pawn:before {
  content: "\f443"; }

.fa-chess-queen:before {
  content: "\f445"; }

.fa-chess-rook:before {
  content: "\f447"; }

.fa-chevron-circle-down:before {
  content: "\f13a"; }

.fa-chevron-circle-left:before {
  content: "\f137"; }

.fa-chevron-circle-right:before {
  content: "\f138"; }

.fa-chevron-circle-up:before {
  content: "\f139"; }

.fa-chevron-down:before {
  content: "\f078"; }

.fa-chevron-left:before {
  content: "\f053"; }

.fa-chevron-right:before {
  content: "\f054"; }

.fa-chevron-up:before {
  content: "\f077"; }

.fa-child:before {
  content: "\f1ae"; }

.fa-chrome:before {
  content: "\f268"; }

.fa-circle:before {
  content: "\f111"; }

.fa-circle-notch:before {
  content: "\f1ce"; }

.fa-clipboard:before {
  content: "\f328"; }

.fa-clipboard-check:before {
  content: "\f46c"; }

.fa-clipboard-list:before {
  content: "\f46d"; }

.fa-clock:before {
  content: "\f017"; }

.fa-clone:before {
  content: "\f24d"; }

.fa-closed-captioning:before {
  content: "\f20a"; }

.fa-cloud:before {
  content: "\f0c2"; }

.fa-cloud-download-alt:before {
  content: "\f381"; }

.fa-cloud-upload-alt:before {
  content: "\f382"; }

.fa-cloudscale:before {
  content: "\f383"; }

.fa-cloudsmith:before {
  content: "\f384"; }

.fa-cloudversify:before {
  content: "\f385"; }

.fa-code:before {
  content: "\f121"; }

.fa-code-branch:before {
  content: "\f126"; }

.fa-codepen:before {
  content: "\f1cb"; }

.fa-codiepie:before {
  content: "\f284"; }

.fa-coffee:before {
  content: "\f0f4"; }

.fa-cog:before {
  content: "\f013"; }

.fa-cogs:before {
  content: "\f085"; }

.fa-columns:before {
  content: "\f0db"; }

.fa-comment:before {
  content: "\f075"; }

.fa-comment-alt:before {
  content: "\f27a"; }

.fa-comments:before {
  content: "\f086"; }

.fa-compass:before {
  content: "\f14e"; }

.fa-compress:before {
  content: "\f066"; }

.fa-connectdevelop:before {
  content: "\f20e"; }

.fa-contao:before {
  content: "\f26d"; }

.fa-copy:before {
  content: "\f0c5"; }

.fa-copyright:before {
  content: "\f1f9"; }

.fa-cpanel:before {
  content: "\f388"; }

.fa-creative-commons:before {
  content: "\f25e"; }

.fa-credit-card:before {
  content: "\f09d"; }

.fa-crop:before {
  content: "\f125"; }

.fa-crosshairs:before {
  content: "\f05b"; }

.fa-css3:before {
  content: "\f13c"; }

.fa-css3-alt:before {
  content: "\f38b"; }

.fa-cube:before {
  content: "\f1b2"; }

.fa-cubes:before {
  content: "\f1b3"; }

.fa-cut:before {
  content: "\f0c4"; }

.fa-cuttlefish:before {
  content: "\f38c"; }

.fa-d-and-d:before {
  content: "\f38d"; }

.fa-dashcube:before {
  content: "\f210"; }

.fa-database:before {
  content: "\f1c0"; }

.fa-deaf:before {
  content: "\f2a4"; }

.fa-delicious:before {
  content: "\f1a5"; }

.fa-deploydog:before {
  content: "\f38e"; }

.fa-deskpro:before {
  content: "\f38f"; }

.fa-desktop:before {
  content: "\f108"; }

.fa-deviantart:before {
  content: "\f1bd"; }

.fa-digg:before {
  content: "\f1a6"; }

.fa-digital-ocean:before {
  content: "\f391"; }

.fa-discord:before {
  content: "\f392"; }

.fa-discourse:before {
  content: "\f393"; }

.fa-dna:before {
  content: "\f471"; }

.fa-dochub:before {
  content: "\f394"; }

.fa-docker:before {
  content: "\f395"; }

.fa-dollar-sign:before {
  content: "\f155"; }

.fa-dolly:before {
  content: "\f472"; }

.fa-dolly-flatbed:before {
  content: "\f474"; }

.fa-dot-circle:before {
  content: "\f192"; }

.fa-download:before {
  content: "\f019"; }

.fa-draft2digital:before {
  content: "\f396"; }

.fa-dribbble:before {
  content: "\f17d"; }

.fa-dribbble-square:before {
  content: "\f397"; }

.fa-dropbox:before {
  content: "\f16b"; }

.fa-drupal:before {
  content: "\f1a9"; }

.fa-dyalog:before {
  content: "\f399"; }

.fa-earlybirds:before {
  content: "\f39a"; }

.fa-edge:before {
  content: "\f282"; }

.fa-edit:before {
  content: "\f044"; }

.fa-eject:before {
  content: "\f052"; }

.fa-elementor:before {
  content: "\f430"; }

.fa-ellipsis-h:before {
  content: "\f141"; }

.fa-ellipsis-v:before {
  content: "\f142"; }

.fa-ember:before {
  content: "\f423"; }

.fa-empire:before {
  content: "\f1d1"; }

.fa-envelope:before {
  content: "\f0e0"; }

.fa-envelope-open:before {
  content: "\f2b6"; }

.fa-envelope-square:before {
  content: "\f199"; }

.fa-envira:before {
  content: "\f299"; }

.fa-eraser:before {
  content: "\f12d"; }

.fa-erlang:before {
  content: "\f39d"; }

.fa-ethereum:before {
  content: "\f42e"; }

.fa-etsy:before {
  content: "\f2d7"; }

.fa-euro-sign:before {
  content: "\f153"; }

.fa-exchange-alt:before {
  content: "\f362"; }

.fa-exclamation:before {
  content: "\f12a"; }

.fa-exclamation-circle:before {
  content: "\f06a"; }

.fa-exclamation-triangle:before {
  content: "\f071"; }

.fa-expand:before {
  content: "\f065"; }

.fa-expand-arrows-alt:before {
  content: "\f31e"; }

.fa-expeditedssl:before {
  content: "\f23e"; }

.fa-external-link-alt:before {
  content: "\f35d"; }

.fa-external-link-square-alt:before {
  content: "\f360"; }

.fa-eye:before {
  content: "\f06e"; }

.fa-eye-dropper:before {
  content: "\f1fb"; }

.fa-eye-slash:before {
  content: "\f070"; }

.fa-facebook:before {
  content: "\f09a"; }

.fa-facebook-f:before {
  content: "\f39e"; }

.fa-facebook-messenger:before {
  content: "\f39f"; }

.fa-facebook-square:before {
  content: "\f082"; }

.fa-fast-backward:before {
  content: "\f049"; }

.fa-fast-forward:before {
  content: "\f050"; }

.fa-fax:before {
  content: "\f1ac"; }

.fa-female:before {
  content: "\f182"; }

.fa-fighter-jet:before {
  content: "\f0fb"; }

.fa-file:before {
  content: "\f15b"; }

.fa-file-alt:before {
  content: "\f15c"; }

.fa-file-archive:before {
  content: "\f1c6"; }

.fa-file-audio:before {
  content: "\f1c7"; }

.fa-file-code:before {
  content: "\f1c9"; }

.fa-file-excel:before {
  content: "\f1c3"; }

.fa-file-image:before {
  content: "\f1c5"; }

.fa-file-pdf:before {
  content: "\f1c1"; }

.fa-file-powerpoint:before {
  content: "\f1c4"; }

.fa-file-video:before {
  content: "\f1c8"; }

.fa-file-word:before {
  content: "\f1c2"; }

.fa-film:before {
  content: "\f008"; }

.fa-filter:before {
  content: "\f0b0"; }

.fa-fire:before {
  content: "\f06d"; }

.fa-fire-extinguisher:before {
  content: "\f134"; }

.fa-firefox:before {
  content: "\f269"; }

.fa-first-aid:before {
  content: "\f479"; }

.fa-first-order:before {
  content: "\f2b0"; }

.fa-firstdraft:before {
  content: "\f3a1"; }

.fa-flag:before {
  content: "\f024"; }

.fa-flag-checkered:before {
  content: "\f11e"; }

.fa-flask:before {
  content: "\f0c3"; }

.fa-flickr:before {
  content: "\f16e"; }

.fa-flipboard:before {
  content: "\f44d"; }

.fa-fly:before {
  content: "\f417"; }

.fa-folder:before {
  content: "\f07b"; }

.fa-folder-open:before {
  content: "\f07c"; }

.fa-font:before {
  content: "\f031"; }

.fa-font-awesome:before {
  content: "\f2b4"; }

.fa-font-awesome-alt:before {
  content: "\f35c"; }

.fa-font-awesome-flag:before {
  content: "\f425"; }

.fa-fonticons:before {
  content: "\f280"; }

.fa-fonticons-fi:before {
  content: "\f3a2"; }

.fa-football-ball:before {
  content: "\f44e"; }

.fa-fort-awesome:before {
  content: "\f286"; }

.fa-fort-awesome-alt:before {
  content: "\f3a3"; }

.fa-forumbee:before {
  content: "\f211"; }

.fa-forward:before {
  content: "\f04e"; }

.fa-foursquare:before {
  content: "\f180"; }

.fa-free-code-camp:before {
  content: "\f2c5"; }

.fa-freebsd:before {
  content: "\f3a4"; }

.fa-frown:before {
  content: "\f119"; }

.fa-futbol:before {
  content: "\f1e3"; }

.fa-gamepad:before {
  content: "\f11b"; }

.fa-gavel:before {
  content: "\f0e3"; }

.fa-gem:before {
  content: "\f3a5"; }

.fa-genderless:before {
  content: "\f22d"; }

.fa-get-pocket:before {
  content: "\f265"; }

.fa-gg:before {
  content: "\f260"; }

.fa-gg-circle:before {
  content: "\f261"; }

.fa-gift:before {
  content: "\f06b"; }

.fa-git:before {
  content: "\f1d3"; }

.fa-git-square:before {
  content: "\f1d2"; }

.fa-github:before {
  content: "\f09b"; }

.fa-github-alt:before {
  content: "\f113"; }

.fa-github-square:before {
  content: "\f092"; }

.fa-gitkraken:before {
  content: "\f3a6"; }

.fa-gitlab:before {
  content: "\f296"; }

.fa-gitter:before {
  content: "\f426"; }

.fa-glass-martini:before {
  content: "\f000"; }

.fa-glide:before {
  content: "\f2a5"; }

.fa-glide-g:before {
  content: "\f2a6"; }

.fa-globe:before {
  content: "\f0ac"; }

.fa-gofore:before {
  content: "\f3a7"; }

.fa-golf-ball:before {
  content: "\f450"; }

.fa-goodreads:before {
  content: "\f3a8"; }

.fa-goodreads-g:before {
  content: "\f3a9"; }

.fa-google:before {
  content: "\f1a0"; }

.fa-google-drive:before {
  content: "\f3aa"; }

.fa-google-play:before {
  content: "\f3ab"; }

.fa-google-plus:before {
  content: "\f2b3"; }

.fa-google-plus-g:before {
  content: "\f0d5"; }

.fa-google-plus-square:before {
  content: "\f0d4"; }

.fa-google-wallet:before {
  content: "\f1ee"; }

.fa-graduation-cap:before {
  content: "\f19d"; }

.fa-gratipay:before {
  content: "\f184"; }

.fa-grav:before {
  content: "\f2d6"; }

.fa-gripfire:before {
  content: "\f3ac"; }

.fa-grunt:before {
  content: "\f3ad"; }

.fa-gulp:before {
  content: "\f3ae"; }

.fa-h-square:before {
  content: "\f0fd"; }

.fa-hacker-news:before {
  content: "\f1d4"; }

.fa-hacker-news-square:before {
  content: "\f3af"; }

.fa-hand-lizard:before {
  content: "\f258"; }

.fa-hand-paper:before {
  content: "\f256"; }

.fa-hand-peace:before {
  content: "\f25b"; }

.fa-hand-point-down:before {
  content: "\f0a7"; }

.fa-hand-point-left:before {
  content: "\f0a5"; }

.fa-hand-point-right:before {
  content: "\f0a4"; }

.fa-hand-point-up:before {
  content: "\f0a6"; }

.fa-hand-pointer:before {
  content: "\f25a"; }

.fa-hand-rock:before {
  content: "\f255"; }

.fa-hand-scissors:before {
  content: "\f257"; }

.fa-hand-spock:before {
  content: "\f259"; }

.fa-handshake:before {
  content: "\f2b5"; }

.fa-hashtag:before {
  content: "\f292"; }

.fa-hdd:before {
  content: "\f0a0"; }

.fa-heading:before {
  content: "\f1dc"; }

.fa-headphones:before {
  content: "\f025"; }

.fa-heart:before {
  content: "\f004"; }

.fa-heartbeat:before {
  content: "\f21e"; }

.fa-hips:before {
  content: "\f452"; }

.fa-hire-a-helper:before {
  content: "\f3b0"; }

.fa-history:before {
  content: "\f1da"; }

.fa-hockey-puck:before {
  content: "\f453"; }

.fa-home:before {
  content: "\f015"; }

.fa-hooli:before {
  content: "\f427"; }

.fa-hospital:before {
  content: "\f0f8"; }

.fa-hospital-symbol:before {
  content: "\f47e"; }

.fa-hotjar:before {
  content: "\f3b1"; }

.fa-hourglass:before {
  content: "\f254"; }

.fa-hourglass-end:before {
  content: "\f253"; }

.fa-hourglass-half:before {
  content: "\f252"; }

.fa-hourglass-start:before {
  content: "\f251"; }

.fa-houzz:before {
  content: "\f27c"; }

.fa-html5:before {
  content: "\f13b"; }

.fa-hubspot:before {
  content: "\f3b2"; }

.fa-i-cursor:before {
  content: "\f246"; }

.fa-id-badge:before {
  content: "\f2c1"; }

.fa-id-card:before {
  content: "\f2c2"; }

.fa-image:before {
  content: "\f03e"; }

.fa-images:before {
  content: "\f302"; }

.fa-imdb:before {
  content: "\f2d8"; }

.fa-inbox:before {
  content: "\f01c"; }

.fa-indent:before {
  content: "\f03c"; }

.fa-industry:before {
  content: "\f275"; }

.fa-info:before {
  content: "\f129"; }

.fa-info-circle:before {
  content: "\f05a"; }

.fa-instagram:before {
  content: "\f16d"; }

.fa-internet-explorer:before {
  content: "\f26b"; }

.fa-ioxhost:before {
  content: "\f208"; }

.fa-italic:before {
  content: "\f033"; }

.fa-itunes:before {
  content: "\f3b4"; }

.fa-itunes-note:before {
  content: "\f3b5"; }

.fa-jenkins:before {
  content: "\f3b6"; }

.fa-joget:before {
  content: "\f3b7"; }

.fa-joomla:before {
  content: "\f1aa"; }

.fa-js:before {
  content: "\f3b8"; }

.fa-js-square:before {
  content: "\f3b9"; }

.fa-jsfiddle:before {
  content: "\f1cc"; }

.fa-key:before {
  content: "\f084"; }

.fa-keyboard:before {
  content: "\f11c"; }

.fa-keycdn:before {
  content: "\f3ba"; }

.fa-kickstarter:before {
  content: "\f3bb"; }

.fa-kickstarter-k:before {
  content: "\f3bc"; }

.fa-korvue:before {
  content: "\f42f"; }

.fa-language:before {
  content: "\f1ab"; }

.fa-laptop:before {
  content: "\f109"; }

.fa-laravel:before {
  content: "\f3bd"; }

.fa-lastfm:before {
  content: "\f202"; }

.fa-lastfm-square:before {
  content: "\f203"; }

.fa-leaf:before {
  content: "\f06c"; }

.fa-leanpub:before {
  content: "\f212"; }

.fa-lemon:before {
  content: "\f094"; }

.fa-less:before {
  content: "\f41d"; }

.fa-level-down-alt:before {
  content: "\f3be"; }

.fa-level-up-alt:before {
  content: "\f3bf"; }

.fa-life-ring:before {
  content: "\f1cd"; }

.fa-lightbulb:before {
  content: "\f0eb"; }

.fa-line:before {
  content: "\f3c0"; }

.fa-link:before {
  content: "\f0c1"; }

.fa-linkedin:before {
  content: "\f08c"; }

.fa-linkedin-in:before {
  content: "\f0e1"; }

.fa-linode:before {
  content: "\f2b8"; }

.fa-linux:before {
  content: "\f17c"; }

.fa-lira-sign:before {
  content: "\f195"; }

.fa-list:before {
  content: "\f03a"; }

.fa-list-alt:before {
  content: "\f022"; }

.fa-list-ol:before {
  content: "\f0cb"; }

.fa-list-ul:before {
  content: "\f0ca"; }

.fa-location-arrow:before {
  content: "\f124"; }

.fa-lock:before {
  content: "\f023"; }

.fa-lock-open:before {
  content: "\f3c1"; }

.fa-long-arrow-alt-down:before {
  content: "\f309"; }

.fa-long-arrow-alt-left:before {
  content: "\f30a"; }

.fa-long-arrow-alt-right:before {
  content: "\f30b"; }

.fa-long-arrow-alt-up:before {
  content: "\f30c"; }

.fa-low-vision:before {
  content: "\f2a8"; }

.fa-lyft:before {
  content: "\f3c3"; }

.fa-magento:before {
  content: "\f3c4"; }

.fa-magic:before {
  content: "\f0d0"; }

.fa-magnet:before {
  content: "\f076"; }

.fa-male:before {
  content: "\f183"; }

.fa-map:before {
  content: "\f279"; }

.fa-map-marker:before {
  content: "\f041"; }

.fa-map-marker-alt:before {
  content: "\f3c5"; }

.fa-map-pin:before {
  content: "\f276"; }

.fa-map-signs:before {
  content: "\f277"; }

.fa-mars:before {
  content: "\f222"; }

.fa-mars-double:before {
  content: "\f227"; }

.fa-mars-stroke:before {
  content: "\f229"; }

.fa-mars-stroke-h:before {
  content: "\f22b"; }

.fa-mars-stroke-v:before {
  content: "\f22a"; }

.fa-maxcdn:before {
  content: "\f136"; }

.fa-medapps:before {
  content: "\f3c6"; }

.fa-medium:before {
  content: "\f23a"; }

.fa-medium-m:before {
  content: "\f3c7"; }

.fa-medkit:before {
  content: "\f0fa"; }

.fa-medrt:before {
  content: "\f3c8"; }

.fa-meetup:before {
  content: "\f2e0"; }

.fa-meh:before {
  content: "\f11a"; }

.fa-mercury:before {
  content: "\f223"; }

.fa-microchip:before {
  content: "\f2db"; }

.fa-microphone:before {
  content: "\f130"; }

.fa-microphone-slash:before {
  content: "\f131"; }

.fa-microsoft:before {
  content: "\f3ca"; }

.fa-minus:before {
  content: "\f068"; }

.fa-minus-circle:before {
  content: "\f056"; }

.fa-minus-square:before {
  content: "\f146"; }

.fa-mix:before {
  content: "\f3cb"; }

.fa-mixcloud:before {
  content: "\f289"; }

.fa-mizuni:before {
  content: "\f3cc"; }

.fa-mobile:before {
  content: "\f10b"; }

.fa-mobile-alt:before {
  content: "\f3cd"; }

.fa-modx:before {
  content: "\f285"; }

.fa-monero:before {
  content: "\f3d0"; }

.fa-money-bill-alt:before {
  content: "\f3d1"; }

.fa-moon:before {
  content: "\f186"; }

.fa-motorcycle:before {
  content: "\f21c"; }

.fa-mouse-pointer:before {
  content: "\f245"; }

.fa-music:before {
  content: "\f001"; }

.fa-napster:before {
  content: "\f3d2"; }

.fa-neuter:before {
  content: "\f22c"; }

.fa-newspaper:before {
  content: "\f1ea"; }

.fa-nintendo-switch:before {
  content: "\f418"; }

.fa-node:before {
  content: "\f419"; }

.fa-node-js:before {
  content: "\f3d3"; }

.fa-npm:before {
  content: "\f3d4"; }

.fa-ns8:before {
  content: "\f3d5"; }

.fa-nutritionix:before {
  content: "\f3d6"; }

.fa-object-group:before {
  content: "\f247"; }

.fa-object-ungroup:before {
  content: "\f248"; }

.fa-odnoklassniki:before {
  content: "\f263"; }

.fa-odnoklassniki-square:before {
  content: "\f264"; }

.fa-opencart:before {
  content: "\f23d"; }

.fa-openid:before {
  content: "\f19b"; }

.fa-opera:before {
  content: "\f26a"; }

.fa-optin-monster:before {
  content: "\f23c"; }

.fa-osi:before {
  content: "\f41a"; }

.fa-outdent:before {
  content: "\f03b"; }

.fa-page4:before {
  content: "\f3d7"; }

.fa-pagelines:before {
  content: "\f18c"; }

.fa-paint-brush:before {
  content: "\f1fc"; }

.fa-palfed:before {
  content: "\f3d8"; }

.fa-pallet:before {
  content: "\f482"; }

.fa-paper-plane:before {
  content: "\f1d8"; }

.fa-paperclip:before {
  content: "\f0c6"; }

.fa-paragraph:before {
  content: "\f1dd"; }

.fa-paste:before {
  content: "\f0ea"; }

.fa-patreon:before {
  content: "\f3d9"; }

.fa-pause:before {
  content: "\f04c"; }

.fa-pause-circle:before {
  content: "\f28b"; }

.fa-paw:before {
  content: "\f1b0"; }

.fa-paypal:before {
  content: "\f1ed"; }

.fa-pen-square:before {
  content: "\f14b"; }

.fa-pencil-alt:before {
  content: "\f303"; }

.fa-percent:before {
  content: "\f295"; }

.fa-periscope:before {
  content: "\f3da"; }

.fa-phabricator:before {
  content: "\f3db"; }

.fa-phoenix-framework:before {
  content: "\f3dc"; }

.fa-phone:before {
  content: "\f095"; }

.fa-phone-square:before {
  content: "\f098"; }

.fa-phone-volume:before {
  content: "\f2a0"; }

.fa-php:before {
  content: "\f457"; }

.fa-pied-piper:before {
  content: "\f2ae"; }

.fa-pied-piper-alt:before {
  content: "\f1a8"; }

.fa-pied-piper-pp:before {
  content: "\f1a7"; }

.fa-pills:before {
  content: "\f484"; }

.fa-pinterest:before {
  content: "\f0d2"; }

.fa-pinterest-p:before {
  content: "\f231"; }

.fa-pinterest-square:before {
  content: "\f0d3"; }

.fa-plane:before {
  content: "\f072"; }

.fa-play:before {
  content: "\f04b"; }

.fa-play-circle:before {
  content: "\f144"; }

.fa-playstation:before {
  content: "\f3df"; }

.fa-plug:before {
  content: "\f1e6"; }

.fa-plus:before {
  content: "\f067"; }

.fa-plus-circle:before {
  content: "\f055"; }

.fa-plus-square:before {
  content: "\f0fe"; }

.fa-podcast:before {
  content: "\f2ce"; }

.fa-pound-sign:before {
  content: "\f154"; }

.fa-power-off:before {
  content: "\f011"; }

.fa-print:before {
  content: "\f02f"; }

.fa-product-hunt:before {
  content: "\f288"; }

.fa-pushed:before {
  content: "\f3e1"; }

.fa-puzzle-piece:before {
  content: "\f12e"; }

.fa-python:before {
  content: "\f3e2"; }

.fa-qq:before {
  content: "\f1d6"; }

.fa-qrcode:before {
  content: "\f029"; }

.fa-question:before {
  content: "\f128"; }

.fa-question-circle:before {
  content: "\f059"; }

.fa-quidditch:before {
  content: "\f458"; }

.fa-quinscape:before {
  content: "\f459"; }

.fa-quora:before {
  content: "\f2c4"; }

.fa-quote-left:before {
  content: "\f10d"; }

.fa-quote-right:before {
  content: "\f10e"; }

.fa-random:before {
  content: "\f074"; }

.fa-ravelry:before {
  content: "\f2d9"; }

.fa-react:before {
  content: "\f41b"; }

.fa-rebel:before {
  content: "\f1d0"; }

.fa-recycle:before {
  content: "\f1b8"; }

.fa-red-river:before {
  content: "\f3e3"; }

.fa-reddit:before {
  content: "\f1a1"; }

.fa-reddit-alien:before {
  content: "\f281"; }

.fa-reddit-square:before {
  content: "\f1a2"; }

.fa-redo:before {
  content: "\f01e"; }

.fa-redo-alt:before {
  content: "\f2f9"; }

.fa-registered:before {
  content: "\f25d"; }

.fa-rendact:before {
  content: "\f3e4"; }

.fa-renren:before {
  content: "\f18b"; }

.fa-reply:before {
  content: "\f3e5"; }

.fa-reply-all:before {
  content: "\f122"; }

.fa-replyd:before {
  content: "\f3e6"; }

.fa-resolving:before {
  content: "\f3e7"; }

.fa-retweet:before {
  content: "\f079"; }

.fa-road:before {
  content: "\f018"; }

.fa-rocket:before {
  content: "\f135"; }

.fa-rocketchat:before {
  content: "\f3e8"; }

.fa-rockrms:before {
  content: "\f3e9"; }

.fa-rss:before {
  content: "\f09e"; }

.fa-rss-square:before {
  content: "\f143"; }

.fa-ruble-sign:before {
  content: "\f158"; }

.fa-rupee-sign:before {
  content: "\f156"; }

.fa-safari:before {
  content: "\f267"; }

.fa-sass:before {
  content: "\f41e"; }

.fa-save:before {
  content: "\f0c7"; }

.fa-schlix:before {
  content: "\f3ea"; }

.fa-scribd:before {
  content: "\f28a"; }

.fa-search:before {
  content: "\f002"; }

.fa-search-minus:before {
  content: "\f010"; }

.fa-search-plus:before {
  content: "\f00e"; }

.fa-searchengin:before {
  content: "\f3eb"; }

.fa-sellcast:before {
  content: "\f2da"; }

.fa-sellsy:before {
  content: "\f213"; }

.fa-server:before {
  content: "\f233"; }

.fa-servicestack:before {
  content: "\f3ec"; }

.fa-share:before {
  content: "\f064"; }

.fa-share-alt:before {
  content: "\f1e0"; }

.fa-share-alt-square:before {
  content: "\f1e1"; }

.fa-share-square:before {
  content: "\f14d"; }

.fa-shekel-sign:before {
  content: "\f20b"; }

.fa-shield-alt:before {
  content: "\f3ed"; }

.fa-ship:before {
  content: "\f21a"; }

.fa-shipping-fast:before {
  content: "\f48b"; }

.fa-shirtsinbulk:before {
  content: "\f214"; }

.fa-shopping-bag:before {
  content: "\f290"; }

.fa-shopping-basket:before {
  content: "\f291"; }

.fa-shopping-cart:before {
  content: "\f07a"; }

.fa-shower:before {
  content: "\f2cc"; }

.fa-sign-in-alt:before {
  content: "\f2f6"; }

.fa-sign-language:before {
  content: "\f2a7"; }

.fa-sign-out-alt:before {
  content: "\f2f5"; }

.fa-signal:before {
  content: "\f012"; }

.fa-simplybuilt:before {
  content: "\f215"; }

.fa-sistrix:before {
  content: "\f3ee"; }

.fa-sitemap:before {
  content: "\f0e8"; }

.fa-skyatlas:before {
  content: "\f216"; }

.fa-skype:before {
  content: "\f17e"; }

.fa-slack:before {
  content: "\f198"; }

.fa-slack-hash:before {
  content: "\f3ef"; }

.fa-sliders-h:before {
  content: "\f1de"; }

.fa-slideshare:before {
  content: "\f1e7"; }

.fa-smile:before {
  content: "\f118"; }

.fa-snapchat:before {
  content: "\f2ab"; }

.fa-snapchat-ghost:before {
  content: "\f2ac"; }

.fa-snapchat-square:before {
  content: "\f2ad"; }

.fa-snowflake:before {
  content: "\f2dc"; }

.fa-sort:before {
  content: "\f0dc"; }

.fa-sort-alpha-down:before {
  content: "\f15d"; }

.fa-sort-alpha-up:before {
  content: "\f15e"; }

.fa-sort-amount-down:before {
  content: "\f160"; }

.fa-sort-amount-up:before {
  content: "\f161"; }

.fa-sort-down:before {
  content: "\f0dd"; }

.fa-sort-numeric-down:before {
  content: "\f162"; }

.fa-sort-numeric-up:before {
  content: "\f163"; }

.fa-sort-up:before {
  content: "\f0de"; }

.fa-soundcloud:before {
  content: "\f1be"; }

.fa-space-shuttle:before {
  content: "\f197"; }

.fa-speakap:before {
  content: "\f3f3"; }

.fa-spinner:before {
  content: "\f110"; }

.fa-spotify:before {
  content: "\f1bc"; }

.fa-square:before {
  content: "\f0c8"; }

.fa-square-full:before {
  content: "\f45c"; }

.fa-stack-exchange:before {
  content: "\f18d"; }

.fa-stack-overflow:before {
  content: "\f16c"; }

.fa-star:before {
  content: "\f005"; }

.fa-star-half:before {
  content: "\f089"; }

.fa-staylinked:before {
  content: "\f3f5"; }

.fa-steam:before {
  content: "\f1b6"; }

.fa-steam-square:before {
  content: "\f1b7"; }

.fa-steam-symbol:before {
  content: "\f3f6"; }

.fa-step-backward:before {
  content: "\f048"; }

.fa-step-forward:before {
  content: "\f051"; }

.fa-stethoscope:before {
  content: "\f0f1"; }

.fa-sticker-mule:before {
  content: "\f3f7"; }

.fa-sticky-note:before {
  content: "\f249"; }

.fa-stop:before {
  content: "\f04d"; }

.fa-stop-circle:before {
  content: "\f28d"; }

.fa-stopwatch:before {
  content: "\f2f2"; }

.fa-strava:before {
  content: "\f428"; }

.fa-street-view:before {
  content: "\f21d"; }

.fa-strikethrough:before {
  content: "\f0cc"; }

.fa-stripe:before {
  content: "\f429"; }

.fa-stripe-s:before {
  content: "\f42a"; }

.fa-studiovinari:before {
  content: "\f3f8"; }

.fa-stumbleupon:before {
  content: "\f1a4"; }

.fa-stumbleupon-circle:before {
  content: "\f1a3"; }

.fa-subscript:before {
  content: "\f12c"; }

.fa-subway:before {
  content: "\f239"; }

.fa-suitcase:before {
  content: "\f0f2"; }

.fa-sun:before {
  content: "\f185"; }

.fa-superpowers:before {
  content: "\f2dd"; }

.fa-superscript:before {
  content: "\f12b"; }

.fa-supple:before {
  content: "\f3f9"; }

.fa-sync:before {
  content: "\f021"; }

.fa-sync-alt:before {
  content: "\f2f1"; }

.fa-syringe:before {
  content: "\f48e"; }

.fa-table:before {
  content: "\f0ce"; }

.fa-table-tennis:before {
  content: "\f45d"; }

.fa-tablet:before {
  content: "\f10a"; }

.fa-tablet-alt:before {
  content: "\f3fa"; }

.fa-tachometer-alt:before {
  content: "\f3fd"; }

.fa-tag:before {
  content: "\f02b"; }

.fa-tags:before {
  content: "\f02c"; }

.fa-tasks:before {
  content: "\f0ae"; }

.fa-taxi:before {
  content: "\f1ba"; }

.fa-telegram:before {
  content: "\f2c6"; }

.fa-telegram-plane:before {
  content: "\f3fe"; }

.fa-tencent-weibo:before {
  content: "\f1d5"; }

.fa-terminal:before {
  content: "\f120"; }

.fa-text-height:before {
  content: "\f034"; }

.fa-text-width:before {
  content: "\f035"; }

.fa-th:before {
  content: "\f00a"; }

.fa-th-large:before {
  content: "\f009"; }

.fa-th-list:before {
  content: "\f00b"; }

.fa-themeisle:before {
  content: "\f2b2"; }

.fa-thermometer:before {
  content: "\f491"; }

.fa-thermometer-empty:before {
  content: "\f2cb"; }

.fa-thermometer-full:before {
  content: "\f2c7"; }

.fa-thermometer-half:before {
  content: "\f2c9"; }

.fa-thermometer-quarter:before {
  content: "\f2ca"; }

.fa-thermometer-three-quarters:before {
  content: "\f2c8"; }

.fa-thumbs-down:before {
  content: "\f165"; }

.fa-thumbs-up:before {
  content: "\f164"; }

.fa-thumbtack:before {
  content: "\f08d"; }

.fa-ticket-alt:before {
  content: "\f3ff"; }

.fa-times:before {
  content: "\f00d"; }

.fa-times-circle:before {
  content: "\f057"; }

.fa-tint:before {
  content: "\f043"; }

.fa-toggle-off:before {
  content: "\f204"; }

.fa-toggle-on:before {
  content: "\f205"; }

.fa-trademark:before {
  content: "\f25c"; }

.fa-train:before {
  content: "\f238"; }

.fa-transgender:before {
  content: "\f224"; }

.fa-transgender-alt:before {
  content: "\f225"; }

.fa-trash:before {
  content: "\f1f8"; }

.fa-trash-alt:before {
  content: "\f2ed"; }

.fa-tree:before {
  content: "\f1bb"; }

.fa-trello:before {
  content: "\f181"; }

.fa-tripadvisor:before {
  content: "\f262"; }

.fa-trophy:before {
  content: "\f091"; }

.fa-truck:before {
  content: "\f0d1"; }

.fa-tty:before {
  content: "\f1e4"; }

.fa-tumblr:before {
  content: "\f173"; }

.fa-tumblr-square:before {
  content: "\f174"; }

.fa-tv:before {
  content: "\f26c"; }

.fa-twitch:before {
  content: "\f1e8"; }

.fa-twitter:before {
  content: "\f099"; }

.fa-twitter-square:before {
  content: "\f081"; }

.fa-typo3:before {
  content: "\f42b"; }

.fa-uber:before {
  content: "\f402"; }

.fa-uikit:before {
  content: "\f403"; }

.fa-umbrella:before {
  content: "\f0e9"; }

.fa-underline:before {
  content: "\f0cd"; }

.fa-undo:before {
  content: "\f0e2"; }

.fa-undo-alt:before {
  content: "\f2ea"; }

.fa-uniregistry:before {
  content: "\f404"; }

.fa-universal-access:before {
  content: "\f29a"; }

.fa-university:before {
  content: "\f19c"; }

.fa-unlink:before {
  content: "\f127"; }

.fa-unlock:before {
  content: "\f09c"; }

.fa-unlock-alt:before {
  content: "\f13e"; }

.fa-untappd:before {
  content: "\f405"; }

.fa-upload:before {
  content: "\f093"; }

.fa-usb:before {
  content: "\f287"; }

.fa-user:before {
  content: "\f007"; }

.fa-user-circle:before {
  content: "\f2bd"; }

.fa-user-md:before {
  content: "\f0f0"; }

.fa-user-plus:before {
  content: "\f234"; }

.fa-user-secret:before {
  content: "\f21b"; }

.fa-user-times:before {
  content: "\f235"; }

.fa-users:before {
  content: "\f0c0"; }

.fa-ussunnah:before {
  content: "\f407"; }

.fa-utensil-spoon:before {
  content: "\f2e5"; }

.fa-utensils:before {
  content: "\f2e7"; }

.fa-vaadin:before {
  content: "\f408"; }

.fa-venus:before {
  content: "\f221"; }

.fa-venus-double:before {
  content: "\f226"; }

.fa-venus-mars:before {
  content: "\f228"; }

.fa-viacoin:before {
  content: "\f237"; }

.fa-viadeo:before {
  content: "\f2a9"; }

.fa-viadeo-square:before {
  content: "\f2aa"; }

.fa-viber:before {
  content: "\f409"; }

.fa-video:before {
  content: "\f03d"; }

.fa-vimeo:before {
  content: "\f40a"; }

.fa-vimeo-square:before {
  content: "\f194"; }

.fa-vimeo-v:before {
  content: "\f27d"; }

.fa-vine:before {
  content: "\f1ca"; }

.fa-vk:before {
  content: "\f189"; }

.fa-vnv:before {
  content: "\f40b"; }

.fa-volleyball-ball:before {
  content: "\f45f"; }

.fa-volume-down:before {
  content: "\f027"; }

.fa-volume-off:before {
  content: "\f026"; }

.fa-volume-up:before {
  content: "\f028"; }

.fa-vuejs:before {
  content: "\f41f"; }

.fa-warehouse:before {
  content: "\f494"; }

.fa-weibo:before {
  content: "\f18a"; }

.fa-weight:before {
  content: "\f496"; }

.fa-weixin:before {
  content: "\f1d7"; }

.fa-whatsapp:before {
  content: "\f232"; }

.fa-whatsapp-square:before {
  content: "\f40c"; }

.fa-wheelchair:before {
  content: "\f193"; }

.fa-whmcs:before {
  content: "\f40d"; }

.fa-wifi:before {
  content: "\f1eb"; }

.fa-wikipedia-w:before {
  content: "\f266"; }

.fa-window-close:before {
  content: "\f410"; }

.fa-window-maximize:before {
  content: "\f2d0"; }

.fa-window-minimize:before {
  content: "\f2d1"; }

.fa-window-restore:before {
  content: "\f2d2"; }

.fa-windows:before {
  content: "\f17a"; }

.fa-won-sign:before {
  content: "\f159"; }

.fa-wordpress:before {
  content: "\f19a"; }

.fa-wordpress-simple:before {
  content: "\f411"; }

.fa-wpbeginner:before {
  content: "\f297"; }

.fa-wpexplorer:before {
  content: "\f2de"; }

.fa-wpforms:before {
  content: "\f298"; }

.fa-wrench:before {
  content: "\f0ad"; }

.fa-xbox:before {
  content: "\f412"; }

.fa-xing:before {
  content: "\f168"; }

.fa-xing-square:before {
  content: "\f169"; }

.fa-y-combinator:before {
  content: "\f23b"; }

.fa-yahoo:before {
  content: "\f19e"; }

.fa-yandex:before {
  content: "\f413"; }

.fa-yandex-international:before {
  content: "\f414"; }

.fa-yelp:before {
  content: "\f1e9"; }

.fa-yen-sign:before {
  content: "\f157"; }

.fa-yoast:before {
  content: "\f2b1"; }

.fa-youtube:before {
  content: "\f167"; }

.fa-youtube-square:before {
  content: "\f431"; }

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.sr-only-focusable:active, .sr-only-focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* ---------------------------------------------------------
	 2. General reset
	 ---------------------------------------------------------*/
@media (max-width: 1199px) {
  .hb-addnav {
    padding: 36px 0 37px 15px; }
  .hb-slidercontent-area {
    padding: 0 0 0 60px; }
  .v2 .hb-info-area {
    margin: 0 30px 0 0; }
  .v2 .hb-info li:first-child {
    margin-right: 10px; }
  .v2 .hb-info li i {
    font-size: 32px;
    margin: 0 10px 0 0; }
  .hb-navigation > ul > li {
    padding: 40px 12px; }
  .hb-pricingbox {
    min-height: 630px; }
  .hb-pricing-img::after {
    left: 50%;
    width: 195px;
    height: 192px;
    margin: 0 0 0 -96px; }
  .hb-gallerycontent h3 {
    font-size: 18px; }
  .hb-posttitle h3 {
    font-size: 18px; }
  .hb-testimonial {
    background-size: contain;
    background-position: 50% 50%; }
  .hb-col .hb-info li span a {
    font-size: 12px; }
  .hb-whychooseus-content {
    margin: 0 0 0 25px; }
  .hb-servicesslider:hover .hb-prev {
    left: 0; }
  .hb-servicesslider:hover .hb-next {
    right: 0; }
  .hb-sectiontitle h2 {
    font-size: 32px; }
  .hb-appointmentcontent h3 {
    font-size: 22px; }
  .hb-slidercontent {
    width: 100%; }
  .hb-prev {
    top: 51%; }
  .hb-next {
    top: 51%; }
  .hb-services.v2 .hb-servicecontent h3 {
    font-size: 17px; }
  .hb-services.v2 .hb-btn {
    margin: 0 auto; }
  .hb-services.v2 .hb-servicecontent {
    padding: 139px 20px 30px; }
  .hb-teamcontent {
    padding: 139px 20px 40px; }
  .entry-block td tbody .btn {
    padding: 11px 36px;
    float: right;
    font-size: 13px;
    line-height: 15px; }
  .entry-block td tbody .btn.avail {
    padding: 11px 11px; }
  .booked-calendar tbody tr td span {
    font-size: 20px;
    line-height: 22px; }
  .booked-calendar tbody tr td.bg-pink:hover span {
    padding: 12px 0; }
  .service .hb-widget ul li {
    width: 100%; }
  .service .side-slide q {
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 16px; }
  .service .side-test-slide .slick-dots li {
    width: auto; }
  .side-test-slide .slick-dots button {
    margin: 0 4px; }
  .service .hb-categories .primary-btn {
    padding: 10px 28px;
    font-size: 13px;
    line-height: 16px; }
  .service .content h3 {
    font-size: 20px;
    line-height: 22px; }
  .service .content {
    font-size: 13px; }
  .service .content p {
    line-height: 21px;
    margin: 0 0 18px; }
  .service .content .primary-btn {
    font-size: 13px;
    line-height: 15px;
    padding: 10px 30px; }
  .service .hb-post-area .video-block {
    width: 100%; }
  .service .hb-blogdetails .hb-post figure {
    width: 100%;
    float: left; }
  .service .hb-accordian {
    width: 100%;
    float: left; }
  .hb-blogdetails .hb-post figure img {
    width: 100%; }
  .service .hb-pricinglist-area .block,
  .service .hb-pricinglist-area .block .img-holder,
  .service .hb-pricinglist-area .block .img-holder img {
    width: 100%; }
  .service .hb-pricinglist-area .block .hb-pricinglistbox {
    padding: 0; }
  .service .hb-blogdetails .hb-post h4 {
    padding: 0 0 10px 47px; }
  .service .hb-pricinglist-area {
    padding: 20px 0 0; }
  .service .hb-pricinglist-area .block .img-holder {
    margin: 0 0 32px; }
  .hb-pricinglistbox li h3 {
    font-size: 16px; }
  .service .hb-pricinglist-area .hb-pricinglistbox li {
    margin: 0 0 18px; }
  .hb-pricinglistbox li span {
    font-size: 22px; }
  .service .hb-pricinglist-area .block:last-child {
    padding: 20px 0 0; }
  .select-form fieldset select {
    width: 190px; }
  .shopgrid-list .txt-holder {
    font-size: 14px; }
  .shopgrid-list .block {
    padding-top: 28px; }
  .shopgrid .shopgrid-detail .img-holder {
    padding: 75px 66px 52px 65px;
    width: 284px; }
  .shopgrid .shopgrid-detail .content-holder {
    padding: 0 0 0 20px;
    width: 332px; }
  .shopgrid-detail .content-holder .txt-holder {
    font-size: 13px; }
  .shopgrid-detail .add-cart .hb-btn {
    padding: 10px 20px 9px;
    line-height: 14px;
    letter-spacing: 0.6px;
    font-size: 13px; }
  .shopgrid-detail .add-cart .block {
    padding: 4px 19px 3px;
    width: 125px; }
  .shopgrid-detail .content-holder .txt-holder h2 {
    font-size: 22px;
    line-height: 24px; }
  .rating-list {
    margin: 0 0 12px; }
  .shopgrid-detail .content-holder .rupees {
    margin: 0 0 7px; }
  .shopgrid-detail .content-holder .txt-holder p {
    line-height: 21px;
    margin: 0 0 8px; }
  .shopgrid-detail .add-cart {
    padding: 24px 0;
    margin: 0 0 24px; }
  .shopgrid-detail .content-holder .detail-list li {
    margin: 0 10px 0 0; }
  .shopgrid-detail .content-holder .detail-list li {
    padding: 0 0 0 7px; }
  .shopgrid-detail .content-holder .detail-list li:last-child {
    margin: 0; }
  .shopgrid-detail .content-holder .detail-list {
    font-size: 13px;
    line-height: 15px; }
  .shopgrid-detail .content-holder .adv-list {
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 16px; }
  .shopgrid-detail .content-holder .detail-list {
    margin: 0 0 10px; }
  .shopgrid-detail .social-block span {
    font-size: 13px;
    line-height: 15px; }
  .shopgrid-detail .social-block .social-link li {
    margin: 0 0 0 25px; }
  .shopgrid .tab-holder .tab-list li a {
    font-size: 13px;
    line-height: 15px;
    padding: 16px 0 15px; }
  .shopgrid .tab-holder .tab-content .txt-holder {
    padding: 20px 25px 20px 25px;
    font-size: 13px; }
  .shopgrid .tab-holder .tab-content .txt-holder p {
    line-height: 23px;
    margin: 0 0 10px; }
  .tab-content .txt-holder h3 {
    padding-top: 5px;
    font-size: 16px;
    line-height: 18px; }
  .tab-content .txt-holder .rating {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 8px; }
  .rating-form fieldset .form-control {
    margin: 0 7px 0 0; }
  .rating-form fieldset textarea {
    padding: 10px 14px;
    font-size: 13px;
    min-height: 125px; }
  .rating-form fieldset .form-control {
    padding: 13px 14px; }
  .rating-form fieldset .hb-btn {
    padding: 11px 25px 12px;
    letter-spacing: 0.9px; }
  .pop-up-block {
    width: 96.5%; }
  .pop-up-block .img-block {
    width: 50%;
    padding: 100px 84px 54px 84px; }
  .pop-up-block .img-holder {
    padding: 103px 105px 72px 99px; }
  .pop-up-block .slick-dots {
    padding: 19px 0 0; }
  .pop-up-block .content-holder {
    width: 50%;
    padding: 90px 40px 0 40px; }
  .shopgrid-detail .img-holder .hb-btn {
    -webkit-transform: translateY(163px) rotate(359deg);
    -ms-transform: translateY(163px) rotate(359deg);
    transform: translateY(163px) rotate(359deg); } }

@media (max-width: 991px) {
  .navbar-header {
    width: 100%;
    float: right; }
  .navbar-toggle {
    color: #fff;
    float: right;
    display: block;
    margin-right: 0;
    background: #fff; }
    .navbar-toggle .icon-bar {
      background: #424242; }
  .navbar-collapse.collapse {
    height: auto !important;
    display: none !important;
    overflow: visible !important;
    visibility: visible !important; }
  .navbar-collapse {
    left: 0;
    top: 100%;
    padding: 0;
    color: #fff;
    z-index: 51;
    width: 100%;
    float: right;
    display: block;
    margin-right: 0;
    background: #fff;
    position: absolute;
    border-top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow-x: visible; }
    .navbar-collapse ul {
      width: 100%;
      max-width: 100%; }
      .navbar-collapse ul li {
        margin: 0;
        padding: 0;
        width: 100%;
        float: left; }
        .navbar-collapse ul li:last-child {
          border-bottom: 0; }
        .navbar-collapse ul li a {
          padding: 20px;
          text-align: left;
          border-bottom: 1px solid #c1bfda; }
          .navbar-collapse ul li a:hover {
            color: #fff;
            background: #a42c59; }
      .navbar-collapse ul li.hb-open a {
        color: #fff;
        background: #a42c59; }
      .navbar-collapse ul li.hb-open .sub-menu li a {
        background: #fff; }
        .navbar-collapse ul li.hb-open .sub-menu li a:hover {
          background: #a42c59; }
  .navbar-collapse.collapse.in {
    display: block !important; }
  .sub-menu {
    opacity: 1;
    width: 100%;
    float: left;
    display: none;
    position: static;
    -webkit-box-shadow: none;
    box-shadow: none;
    visibility: visible; }
    .sub-menu li a:hover {
      color: #fff; }
  .v2 .hb-btn {
    padding: 0 20px; }
  .v2 .hb-info-area {
    width: 40%; }
  .v2 .hb-info li {
    font-size: 11px;
    width: auto; }
    .v2 .hb-info li:first-child {
      padding: 0; }
  .v2 .navbar-toggle {
    background: none; }
    .v2 .navbar-toggle .icon-bar {
      background: #fff; }
  .v2 .hb-nav {
    padding-top: 10px; }
  .v2 .hb-navigation > ul > li {
    padding: 0; }
  .v2 .hb-navigation ul li a {
    color: #7a7992; }
    .v2 .hb-navigation ul li a:hover {
      color: #fff; }
  .v3 .hb-info-area {
    width: 30%; }
  .v3 .navbar-toggle .icon-bar {
    background: #7a7992; }
  .v3 .navbar-header {
    width: 46px;
    float: none;
    margin: 0 auto; }
  .hb-info-area {
    width: 50%; }
  .hb-socialicons-area {
    width: 50%;
    text-align: right; }
    .hb-socialicons-area .hb-socialicons {
      margin: 0;
      width: 100%;
      text-align: right; }
  .hb-info li {
    width: 100%; }
    .hb-info li:first-child {
      padding: 0 0 10px; }
  .hb-timeandday {
    border: 0;
    padding: 0;
    display: block;
    margin-bottom: 10px; }
  .hb-socialicons li {
    float: none;
    display: inline-block;
    vertical-align: middle; }
  .hb-nav {
    padding-top: 30px; }
  .hb-navigation ul li .sub-menu li a:hover {
    color: #fff; }
  .hb-slidercontent h1 {
    font-size: 50px;
    line-height: 65px; }
  .hb-prev {
    left: 2%; }
  .hb-next {
    right: 2%; }
  .hb-servicesslider .hb-serviceimg:after {
    width: 174px;
    height: 174px;
    margin: 0 0 0 -87px; }
  .hb-servicesslider .hb-servicebox {
    margin: 0; }
  .hb-servicebox {
    margin: 0 0 40px; }
  .hb-servicecontent h3 {
    font-size: 16px; }
  .hb-whychooseus-content {
    margin: 0; }
  .hb-pricing-img::after {
    left: 50%;
    width: 252px;
    height: 248px;
    margin: 0 0 0 -126px; }
  .hb-pricingbox {
    width: 80%;
    float: none;
    min-height: 660px;
    margin: 0 auto 40px;
    border-radius: 170px 170px 10px 10px; }
  .hb-galleryimg {
    width: 50%; }
  .hb-appointmentimg {
    margin: 0 0 40px; }
    .hb-appointmentimg img {
      margin: 0 auto; }
  .hb-post {
    margin-bottom: 40px; }
  .hb-col {
    margin-bottom: 40px; }
    .hb-col .hb-timeandday {
      margin-bottom: 25px; }
    .hb-col .hb-socialicons {
      text-align: left; }
  .hb-paradisecenterbox {
    margin: 0 0 30px; }
  .masonry-grid {
    padding: 10px; }
  .hb-teambox {
    margin: 0 0 40px; }
  .hb-paradiselist {
    padding: 0; }
  .hb-pagination {
    margin: 0 0 40px; }
  .hb-bloggrid {
    margin: -25px 0 0; }
  .hb-comingsoonbg {
    padding: 50px; }
  .hb-coming-soon {
    padding: 100px 0; }
  .hb-comingsooncounter {
    width: 550px;
    float: none;
    margin: 0 auto 50px;
    overflow: hidden; }
    .hb-comingsooncounter ul li .hb-holder h3 {
      font-size: 35px;
      line-height: 40px; }
    .hb-comingsooncounter ul li .hb-holder h4 {
      font-size: 15px;
      line-height: 20px; }
  .booked-calendar tbody tr td {
    width: 102.8px; }
  .popup h1 {
    font-size: 18px;
    line-height: 22px;
    padding: 11px 16px 12px; }
  .service .side-slide cite:after {
    display: none; }
  .service .side-slide .rating {
    width: 20%; }
  .service .content {
    margin: 0; }
  .service .hb-categories .primary-btn {
    padding: 11px 34px;
    font-size: 14px;
    line-height: 18px; }
  .service .content .primary-btn {
    font-size: 14px;
    line-height: 16px;
    padding: 11px 37px; }
  .hb-innerbanner-area.service {
    padding: 43px 0 50px; }
  .hb-blog.service {
    padding: 60px 0 0; }
  .service ul li .clr-white {
    padding: 20px 30px 20px;
    font-size: 14px;
    line-height: 16px; }
  .service .side-test-slide .slick-list {
    height: 140px !important; }
  .service .side-slide .rating {
    width: 16%; }
  .service .hb-categories .primary-btn {
    padding: 11px 34px;
    font-size: 14px;
    line-height: 17px; }
  .hb-blogdetails .hb-post {
    padding: 30px 0 0; }
  .service .hb-accordian .hb-panel:last-child h4 {
    padding: 0 0 30px 47px; }
  .service .hb-post {
    margin-bottom: 0; }
  .hb-sectionspace.price-list .hb-sectionhead {
    padding: 0; }
  .hb-btnarea {
    padding: 0; }
  .shopgrid-sidebar {
    padding: 20px 0 0; }
  .shopgrid-sidebar .content-block {
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .shopgrid-sidebar .cart {
    margin: 0 0 10px; }
  .shopgrid .shopgrid-detail .content-holder {
    padding: 0 0 0 20px;
    width: 436px; }
  .shopgrid-detail .content-holder .txt-holder {
    text-align: left; }
  .shopgrid-sidebar .cart h3, .shopgrid-sidebar .sg-categories h3, .shopgrid-sidebar .cart .heading {
    margin: 0 0 18px; }
  .shopgrid-sidebar .sg-categories li {
    margin: 0 0 12px; }
  .shopgrid-sidebar .content-block {
    margin: 0 0 25px; }
  .shopgrid-sidebar .cart ul li {
    margin: 0 0 15px; }
  .shopgrid-list {
    padding: 30px 0 0; }
  .shopgrid .shopgrid-detail .img-holder {
    padding: 61px 77px 12px 75px; }
  .pop-up-block .img-block {
    padding: 58px 54px 34px 54px; }
  .pop-up-block .img-holder {
    padding: 98px 85px 80px 82px; }
  .pop-up-block .content-holder {
    width: 50%;
    padding: 50px 20px 0 27px; }
  .popup-slider .slick-prev {
    width: 25px;
    height: 25px;
    left: -39px; }
  .popup-slider .slick-next {
    right: -40px;
    width: 25px;
    height: 25px; }
  .pop-up-block .slick-dots {
    padding: 10px 0 0; }
  .pop-up-block.shopgrid-detail .content-holder .adv-list {
    margin: 0 0 21px; } }

@media (max-width: 767px) {
  .hb-dropdowarrow {
    display: block; }
  .v2 .hb-logo {
    margin: 0 auto;
    float: none;
    display: block; }
  .v2 .hb-slidercontent .hb-btn {
    float: none; }
  .v3 .hb-nav {
    width: 100%; }
  .hb-nav {
    width: auto;
    float: right; }
  .hb-navigation {
    top: 100%;
    left: 0;
    background: #fff;
    position: absolute; }
    .hb-navigation ul li {
      width: 100%;
      float: left;
      display: block; }
  .sub-menu {
    clear: both;
    float: left;
    display: none;
    position: static;
    width: 100% !important; }
  .mega-menu {
    clear: both;
    float: left;
    display: none;
    position: static;
    width: 100% !important; }
  .hb-slidercontent {
    padding: 100px 0;
    text-align: center; }
    .hb-slidercontent h1 {
      font-size: 40px;
      line-height: 60px; }
  .hb-slidercontent-area {
    padding: 0; }
  .hb-sectiontitle h2 {
    font-size: 25px;
    line-height: 35px; }
  .hb-appointmentcontent h3 {
    font-size: 18px; }
  .hb-appointmentcontent .hb-description p strong {
    font-size: 16px; }
  .hb-headcontent h2 {
    font-size: 20px; }
  .hb-headcontent .hb-description p {
    font-size: 14px; }
  .hb-serviceimg::after {
    width: 220px;
    height: 220px;
    margin: 0 0 0 -110px; }
  .hb-whychooseus-img {
    margin-bottom: 40px; }
  .hb-pricingbox {
    width: 46%; }
  .hb-postimage a img {
    width: 100%; }
  .hb-copyright {
    display: block;
    text-align: center;
    margin-bottom: 10px; }
  .hb-footer-area {
    padding: 60px 0 20px; }
  .hb-footernav {
    width: 100%;
    text-align: center; }
  .owl-carousel .owl-item .hb-sliderimg img {
    height: 400px; }
  .hb-filterbale-nav {
    margin: 0 0 30px; }
    .hb-filterbale-nav li a {
      padding: 0 10px; }
  .masonry-grid {
    width: 100%;
    padding: 0; }
  .hb-error-area h2 {
    font-size: 100px;
    line-height: 120px; }
    .hb-error-area h2 i {
      width: 80px; }
  .hb-errorcontent h3 {
    font-size: 24px; }
  .hb-bloggrid.blogfullwidth .hb-posttitle h3 {
    font-size: 20px; }
  .blogfullwidth .hb-post:last-child {
    margin: 0 0 40px; }
  .hb-posttage {
    float: none;
    width: 100%; }
  .hb-blogdetails .hb-post .hb-postcontent h2 {
    font-size: 20px; }
  .hb-blogdetails .hb-post blockquote {
    padding: 30px 20px; }
  .hb-blogdetails .hb-post .hb-tags {
    margin: 0 0 20px; }
  .hb-blogdetails .hb-post .hb-socialshare {
    float: none; }
  .hb-blogdetails .hb-post .hb-tags-area {
    margin: 0; }
  .hb-blogdetails .hb-paddingright {
    padding-left: 20px; }
  .hb-coming-soon {
    padding: 50px 0; }
  .hb-comingsoon-heading {
    margin: 0 0 50px; }
    .hb-comingsoon-heading h1 {
      font-size: 25px;
      line-height: 30px; }
    .hb-comingsoon-heading span {
      font-size: 12px; }
  .hb-comingsooncounter {
    width: 100%; }
    .hb-comingsooncounter ul li {
      width: 100%; }
  .hb-container-holder h2 {
    font-size: 16px; }
  .hb-container-holder .hb-socialicons li {
    padding: 0 2px; }
  .hb-address {
    margin: 0 0 30px; }
  .hb-addressarea {
    margin: 0; }
  .hb-testimonialbox {
    margin: 0 0 30px; }
  .search-popup .holder {
    padding: 0; }
  .search-popup .close-btn {
    right: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 0 0; }
  .search-popup .search-form {
    padding: 0 20px; }
    .search-popup .search-form .form-control {
      font-size: 30px;
      line-height: 40px;
      padding: 10px 40px 10px 15px; }
    .search-popup .search-form .btn-primary {
      font-size: 25px;
      line-height: 40px;
      right: 30px;
      top: 25px; }
  .booked-calendar thead tr .month-name {
    font-size: 15px;
    line-height: 17px;
    letter-spacing: 2px; }
  .booked-calendar tbody tr td {
    width: 41.4px;
    padding: 20px 0; }
  .booked-calendar thead .months th {
    font-size: 13px;
    line-height: 16px; }
  .booked-calendar tbody tr td.bg-pink:hover span {
    width: 30px;
    margin: -5px auto;
    padding: 5px 0; }
  .booked-calendar tbody tr td span.active {
    width: 30px;
    padding: 5px 0;
    margin: -5px auto; }
  .booked-calendar tbody tr td span {
    font-size: 17px;
    line-height: 19px; }
  .booked-calendar .entry-block thead th {
    font-size: 12px;
    line-height: 14px; }
  .entry-block td .txt-block {
    width: 100%; }
  .booked-calendar .entry-block tbody td {
    padding: 0; }
  .booked-calendar .entry-block .txt-block time, .booked-calendar .entry-block .txt-block span {
    float: none;
    -webkit-text-decoration: center;
    text-decoration: center;
    display: block;
    margin: 0 0 10px; }
  .entry-block td tbody .btn {
    padding: 11px 32px;
    float: none;
    font-size: 12px;
    line-height: 14px;
    margin: 0 auto 10px; }
  .booked-calendar thead tr .fa {
    font-size: 18px;
    line-height: 20px;
    margin: -19px 17px 0 0; }
  .appointment-popup {
    width: 90%; }
  .appointment-popup .popup-block {
    font-size: 12px;
    line-height: 20px;
    padding: 18px 16px 30px; }
  .appointment-popup .popup-block p {
    line-height: 17px;
    margin: 0 0 15px; }
  .appointment-popup .popup-block .date-time {
    font-size: 12px;
    line-height: 18px;
    padding: 9px 0 11px 46px;
    letter-spacing: 0; }
  .appointment-popup .popup-block .fa {
    width: 38px;
    margin: -39px 0 12px; }
  .form-info .heading {
    font-size: 13px;
    line-height: 15px;
    margin: 0 0 2px; }
  .form-info .txt-holder {
    margin: 0; }
  .form-info .form-control {
    padding: 3px 12px;
    height: 32px;
    font-size: 12px;
    line-height: 14px; }
  .form-group {
    float: auto;
    margin: 0 0 12px; }
  .form-info .info-select {
    font-size: 12px;
    line-height: 14px;
    padding: 7px 0 5px 9px;
    margin: 0 0 14px;
    height: 32px; }
  .form-info .check {
    margin: 0 10px 15px 0; }
  .form-info .btn {
    margin: 10px 30px 0;
    padding: 7px 16px;
    letter-spacing: 0;
    font-size: 12px;
    line-height: 14px; }
  .form-info .btn:last-child {
    margin: 10px 83px 0; }
  .service ul li .clr-white {
    padding: 13px 25px 16px;
    font-size: 12px;
    line-height: 14px; }
  .service ul li .fa-caret-right {
    margin: -29px 14px 0 0;
    font-size: 16px;
    line-height: 18px; }
  .service .hb-recentnews {
    margin: 0 0 16px; }
  .service .side-slide q {
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 12px; }
  .service .side-slide cite {
    font-size: 15px;
    line-height: 18px;
    margin: 0 0 4px; }
  .service .side-slide .rating {
    width: 40%; }
  .service .side-slide .fa-quote-left {
    margin: -33px 21px 0 0;
    font-size: 35px;
    line-height: 37px; }
  .service .hb-categories .primary-btn {
    padding: 8px 20px;
    font-size: 12px;
    line-height: 14px; }
  .service .hb-categories {
    margin: 0 0 22px; }
  .service .content h3 {
    font-size: 16px;
    line-height: 18px;
    margin: 0 0 5px; }
  .service .content p {
    line-height: 18px;
    margin: 0 0 12px; }
  .service .content .primary-btn {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 23px; }
  .service .side-test-slide .slick-list {
    height: 159px !important; }
  .service .hb-blogdetails .hb-post .hb-postcontent h2 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    margin: 0 0 12px; }
  .hb-blogdetails .hb-post .hb-description p {
    font-size: 12px;
    line-height: 20px; }
  .service .hb-accordian h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 25px; }
  .service .hb-blogdetails .hb-post h4 {
    padding: 0 0 6px 40px; }
  .service .hb-panel h4:after {
    width: 25px;
    height: 25px;
    font-size: 15px;
    line-height: 26px; }
  .service .hb-blogdetails .hb-post h4 {
    letter-spacing: 0px;
    font-size: 15px;
    line-height: 18px; }
  .service .hb-accordian .hb-panel:last-child h4 {
    padding: 0 0 10px 47px; }
  .hb-pricinglistbox li h3 {
    font-size: 14px; }
  .hb-pricinglistbox li span {
    font-size: 20px; }
  .service .hb-pricinglist-area .hb-pricinglistbox li {
    margin: 0 0 10px; }
  .hb-sectionspace.price-list {
    padding: 30px 0 79px; }
  .hb-appointmentimg {
    margin: 0 0 15px; }
  .hb-sectionspace.price-list .hb-sectiontitle {
    margin: 0 0 35px; }
  .hb-sectiontitle h2 {
    font-size: 20px;
    line-height: 26px; }
  .hb-btn {
    height: 40px;
    padding: 0 28px;
    font-size: 12px;
    line-height: 40px; }
  .hb-sectionspace.price-list {
    padding: 30px 0 49px; }
  .hb-blog.service {
    padding: 30px 0 0; }
  .hb-innerbanner-area.service {
    padding: 25px 0 30px; }
  .hb-bannarheading h1 {
    font-size: 25px;
    line-height: 28px; }
  .hb-breadcrumb {
    font-size: 12px;
    line-height: 16px; }
  .shopgrid-sidebar .cart h3, .shopgrid-sidebar .sg-categories h3 {
    font-size: 22px;
    line-height: 24px;
    margin: 0 0 20px; }
  .shopgrid-sidebar .cart li .txt-holder a {
    font-size: 14px;
    margin: 0 0 10px; }
  .shopgrid-sidebar .cart li .txt-holder {
    padding: 10px 0 0; }
  .shopgrid-list {
    padding: 20px 0 0; }
  .select-form fieldset select {
    width: 100%;
    margin: 0 0 25px 0; }
  .select-form {
    margin: 0; }
  .shopgrid-list .txt-holder {
    float: none;
    margin: 0;
    text-align: center; }
  .shopgrid-list .block {
    width: 100%; }
  .hb-sectionspace.shopgrid {
    padding: 30px 0 0; }
  .shopgrid-sidebar {
    padding: 0;
    margin: 0 0 30px; }
  .shopgrid-list {
    padding: 0; }
  .shopgrid .shopgrid-detail .img-holder {
    padding: 56px 77px 12px 75px;
    margin: 0 0 15px; }
  .shopgrid .shopgrid-detail .content-holder {
    float: none;
    width: 100%;
    padding: 0; }
  .shopgrid-detail .content-holder .detail-list {
    font-size: 12px; }
  .shopgrid .shopgrid-detail {
    margin: 0 0 20px; }
  .shopgrid .tab-holder .tab-list li a {
    font-size: 12px;
    line-height: 18px; }
  .shopgrid .tab-holder .tab-content .txt-holder {
    padding: 16px 15px 20px 15px;
    font-size: 12px; }
  .shopgrid .tab-holder .tab-content .txt-holder p {
    line-height: 20px;
    margin: 0 0 8px; }
  .tab-content .txt-holder h3 {
    padding-top: 3px;
    font-size: 14px;
    line-height: 18px; }
  .tab-content .txt-holder .rating {
    font-size: 14px;
    line-height: 16px;
    margin: 0 0 6px; }
  .rating-form fieldset textarea {
    padding: 9px 12px;
    font-size: 12px;
    min-height: 110px;
    line-height: 18px; }
  .rating-form fieldset .form-control {
    width: 100%;
    font-size: 12px;
    margin: 0 0 14px; }
  .rating-form fieldset .hb-btn {
    padding: 10px 18px 10px;
    font-size: 12px;
    letter-spacing: 0; }
  .shopgrid-list .block {
    padding-top: 0; }
  .pop-up-block {
    width: 91.4%; }
  .pop-up-block .img-block {
    width: 100%;
    padding: 48px 44px 24px 44px;
    margin: 0 0 20px; }
  .pop-up-block .img-holder {
    padding: 58px 55px 50px 52px; }
  .pop-up-block .content-holder {
    width: 100%;
    padding: 0; }
  .shopgrid-detail .img-holder .hb-btn {
    width: 45px;
    height: 45px;
    left: 36.8%; } }

@media (max-width: 639px) {
  .hb-servicesslider .hb-serviceimg:after {
    width: 209px;
    height: 209px;
    margin: 0 0 0 -104px; }
  .hb-sectionspace {
    padding: 40px 0; }
  .hb-pricingbox {
    width: 50%;
    height: 62%; }
  .hb-info-area {
    margin: 0 0 20px;
    width: 100%;
    text-align: center; }
  .hb-socialicons-area {
    width: 100%;
    text-align: center; }
    .hb-socialicons-area .hb-socialicons {
      text-align: center; }
  .hb-slidercontent .hb-description p {
    color: #000; }
  .hb-twoheading {
    font-size: 20px;
    line-height: 23px; }
  .hb-whychooseus-list li {
    font-size: 14px;
    line-height: 17px; } }

@media (max-width: 567px) {
  .hb-slidercontent h1 {
    font-size: 35px;
    line-height: 45px; }
  .hb-counter h3 {
    font-size: 30px;
    line-height: 20px; }
  .hb-gallerycontent h3 {
    font-size: 16px;
    line-height: 19px; }
  .hb-posttitle h3 {
    font-size: 16px;
    line-height: 19px; }
  .hb-col .hb-info li {
    font-size: 14px; }
  .hb-testimonialcontent .hb-description p {
    font-size: 14px; } }

@media (max-width: 479px) {
  .hb-addnav {
    padding: 36px 0 37px 10px; }
  .hb-searcharea {
    padding: 0 7px; }
  .hb-cartarea {
    padding: 0 7px; }
  .hb-slidercontent {
    padding: 90px 0; }
    .hb-slidercontent h1 {
      font-size: 26px;
      line-height: 35px; }
    .hb-slidercontent .hb-description {
      font-size: 14px; }
  .owl-carousel .owl-item .hb-sliderimg img {
    height: 350px; }
  .hb-headcontent h2 {
    font-size: 16px; }
  .hb-headcontent .hb-description {
    font-size: 12px; }
  .hb-servicesslider .hb-serviceimg::after {
    width: 220px;
    height: 220px;
    margin: 0 0 0 -110px; }
  .hb-pricingbox {
    width: 100%; }
  .hb-galleryimg {
    width: 100%; }
  .hb-appointmentcontent h3 {
    font-size: 16px;
    line-height: 20px; }
  .hb-appointmentcontent .hb-description {
    margin: 0 0 20px; }
    .hb-appointmentcontent .hb-description p {
      font-size: 12px; }
      .hb-appointmentcontent .hb-description p strong {
        font-size: 14px; }
  .hb-sectiontitle h2 {
    font-size: 22px;
    line-height: 30px; }
  .hb-sectiontitle::before {
    width: 200px;
    margin: 0 0 0 -100px; }
  .hb-testimonialcontent .hb-description {
    font-size: 12px; }
  .hb-counter {
    width: 50%;
    text-align: center; }
  .mb-50 {
    margin-bottom: 30px; }
  .hb-testimonialsthumbslider .hb-prev,
  .hb-testimonialsthumbslider .hb-next {
    display: none; }
  .hb-prev,
  .hb-next {
    display: none; }
  .hb-gallerycontent h3 {
    font-size: 14px;
    line-height: 17px; }
  .hb-posttitle h3 {
    font-size: 14px;
    line-height: 17px; }
  .hb-logo {
    width: 125px; }
  .hb-cart {
    width: 315px; }
  .hb-cart.right {
    right: -12px; } }
