<template>
    <div class="card transition-4 product search-product">
        <div class="o-hidden product-image">
            <img class="product-image-main" :src="product.image" :alt="product.title">
        </div>
        <p v-if="product.is_new == 1" class="color-999 fs-12 is-new"><b>НОВИНКА</b></p>
        <p v-if="product.is_popular == 1" class="color-999 fs-12 is-popular"><b>ПОПУЛЯРНЫЙ</b></p>
        <div class="p-10px bg-fff">
            <div class="fw-600 mb-15px product-name">
                <a class="color-333 color-blue-hvr" :href="'/' + product.url">{{product.title}}</a>
                <p>Цена: <b class="product-price">{{product.price}}</b></p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Product",
        props: ['product']
    }
</script>

<style scoped>
    :root {
        --primary-color: #41b883;
        --on-primary-color: white;

        --small-spacing: 12px;
        --normal-spacing: calc(var(--small-spacing) * 2);
    }
    .search-product{
        margin: 20px;
    }
</style>