<script>
    import store from '../store'

    const FILTER_TIMER = 100;
    export default {
        data() {
            return {
                queryTimer: null,
                store: store,
                brands: [],
                brandsAll: false,
            }
        },
        computed: {
            queryParams() {
                return {
                    page: undefined,
                    brands: this.brands,
                    price: this.price
                }
            }
        },
        watch: {
            brands(newVal, oldVal) {
                this.setFilter()
                if(newVal.length < oldVal.length) {
                    this.$refs['brands-all'].checked = false
                }
            }
        },
        methods: {
            sliderChange() {
                this.setFilter()
            },
            setFilter () {
                clearTimeout(this.queryTimer);
                this.queryTimer = setTimeout(() => {
                    this.store.setFilter(this.queryParams);
                }, FILTER_TIMER);
            },
            setBrandsAll (e) {
                for (let ref in this.$refs) {
                    if (e.target.checked !== this.$refs[ref].checked) {
                        this.$refs[ref].click();
                    }
                }
            }
        },
        beforeMount() {
            this.store.getQueryData();
            if(this.store.state.filter.brands || this.store.state.filter.price) {
                this.brands = this.store.state.filter.brands;
                this.price = this.store.state.filter.price;
            }
        }
    }
</script>

<style scoped>

</style>
