<template>
    <div class="input-group mb-3">
        <b-input-group>
            <b-form-input v-model="query" type="text" class="form-control" placeholder="Введите название товара или описание, которые хотите найти"
                          aria-label="Product name or description"
                          aria-describedby="basic-addon2">
            </b-form-input>
            <b-input-group-prepend>
                <span class="input-group-text"><i class="fa fa-search fa-lg"></i></span>
            </b-input-group-prepend>
        </b-input-group>
    </div>
</template>

<script>
    export default {
        name: "Searchbar",
        data() {
            return {
                query: '',
            }
        },
        watch: {
            query: {
                handler: _.debounce(function () {
                    this.searchProducts()
                }, 100)
            }
        },
        methods: {
            searchProducts() {
                this.$store.dispatch('SEARCH_PRODUCTS', this.query)
            }
        }
    }
</script>

<style scoped>

</style>